<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camaras</title>
    <link rel="shortcut icon" href="../static/img/logo2.png"/>
    <link rel="stylesheet" href="../static/css/style-camaras.css">
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary nav">
            <div class="container-fluid cont-nav">
              <a class="navbar-brand" href="#"><img src="../static/img/logo.png" alt="" class="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse contenedor-nav" id="navbarNav">
                <ul class="navbar-nav lista-desordenada">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Camaras</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/login.html">Cerrar sesion</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>


    <main>
        <div class="contenedor-principal">
            <h1 class="titulo">Camaras activas</h1>
            <div class="camaras" id="camaras">
                <div class="camara1 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">1. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                <div class="camara2 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">2. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                <div class="camara3 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">3. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                <div class="camara4 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">4. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                <div class="camara5 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">5. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                <div class="camara6 cam">
                    <div class="video-camara">
                        <img class="camaras-cam" src="./streaming_camara">
                    </div>
                    <div class="info-cam">
                        <h3 class="titulo-cam">6. Nombre de la calle</h3>
                    </div>
                    <div class="contenedor-alerta">
                        <button class="btn btn-primary ingresar">Ingresar</button>
                        <button class="icono-alerta"><i class="fas fa-exclamation-triangle"></i></button>
                    </div>
                </div>
            </div>
        </div>



        <div class="noticias">
            <h2>Noticias sobre el barrio</h2>
            <div class="todas-noticias">
                <article class="noticia-1">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
                <article class="noticia-2">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
                <article class="noticia-3">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
                <article class="noticia-4">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
                <article class="noticia-5">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
                <article class="noticia-6">
                    <h4>Esta es una buena noticia</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, natus, ipsa eos voluptatem quas minima ea ipsum maxime quod optio sapiente velit est. Amet voluptates voluptatum voluptatem ea, iure quas.</p>
                    <img src="../static/img/img-barrio.jpg" alt="imagen barrio" class="img-barrio">
                </article>
            </div>
        </div>

    </main>

    <footer>
        <p>© Copyright - Derechos reservados</p>
    </footer>


    <script src="../static/js/camaras.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>